{% extends "tch/container/base.html" %}
{% block title %}형성평가 리스트 관리 페이지{% endblock %}
{% block style %}
<style>
	#assess-status-table td {
	  	text-align:center;
	  	border:1px solid #ddd;
	}
	#assess-status-table th {
	  	border: 2px solid #ddd;
	  	background-color:#EEEEEE;
	  	text-align:center;
	}
	#account_info{
		text-align:right;
		font-size:0.8em;
	}
	.navbar {
		margin-bottom:0px;
	}
	#line-one{
		margin: 0px;
		margin-bottom: 30px;
	    width: 100%;
	    height: 5px;
	    border: 0;
	    background: #aaaaaa;
	    
	    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#8888ff), to(#ffffff),color-stop(50%, #ddddff));
	    background-image: -webkit-linear-gradient(left, #8888ff, #ddddff, #ffffff);
	    background-image: -moz-linear-gradient(left, #8888ff, #ddddff, #ffffff);
	    background-image: -ms-linear-gradient(left, #8888ff, #ddddff, #ffffff);
	    background-image: -o-linear-gradient(left, #8888ff, #ddddff, #ffffff);
	}
	#menu-label{
		text-align:left;
		margin-left:0px;
		font-size:1.5em;
	}
</style>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
{% block containor %}
<div class="container">
	<div id="account_info">
		<b>{{ my_usergroupinfo.group.groupdetail.nickname }} {{ my_info.userdetail.full_name }} 선생님</b> 환영합니다.
	</div>
	<div class="row" id="menu-label">
		<b>형성평가 리스트 관리 페이지</b>
		<a href="/tch/create_assesstemp_wiz1"><button class="btn btn-default btn-xs">새 형성평가 생성</button></a>
	</div>
	<hr id="line-one"> </hr>
	
	
	<!--button class="btn btn-default">선택 삭제</button-->
	<div class="row">
		<table class="table" id="assess-status-table">
			<thead>
				<tr class="tr-header">
					<th class="td-ordernum">순서번호</th>
					<th class="td-name">제목</th>
					<th class="td-assessid">형성평가 ID</th>
					<th class="td-period">기간</th>
					<th class="td-completenum">완료인원</th>
					<th class="td-itemtnum">문항수</th>
					<th class="td-status">상태</th>
					<th class="td-mng">관리</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="td-ordernum">1</td>
					<td class="td-name">정적분1</td>
					<td class="td-assessid">2425</td>
					<td class="td-period">6/20 07:00~6/22 22:00</td>
					<td class="td-completenum">1/23</td>
					<td class="td-itemtnum">15</td>
					<td class="td-status">시행중</td>
					<td class="td-mng"><a>설정수정</a> <a>삭제</a></td>
				</tr>
				<tr>
					<td class="td-ordernum">2</td>
					<td class="td-name">정적분2</td>
					<td class="td-assessid">3243</td>
					<td class="td-period">6/07 07:00~6/13 22:00</td>
					<td class="td-completenum">2/24</td>
					<td class="td-itemtnum">14</td>
					<td class="td-status">시행중</td>
					<td class="td-mng"><a>설정수정</a> <a>삭제</a></td>
				</tr>
				<tr>
					<td class="td-ordernum">3</td>
					<td class="td-name">부정적분1</td>
					<td class="td-assessid">5323</td>
					<td class="td-period">5/20 07:00~6/05 22:00</td>
					<td class="td-completenum">0/23</td>
					<td class="td-itemtnum">8</td>
					<td class="td-status">시행전</td>
					<td class="td-mng"><a>설정수정</a> <a>삭제</a></td>
				</tr>
				<tr>
					<td class="td-ordernum">1</td>
					<td class="td-name">미분1</td>
					<td class="td-assessid">4325</td>
					<td class="td-period">5/12 07:00~5/17 22:00</td>
					<td class="td-completenum">17/23</td>
					<td class="td-itemtnum">14</td>
					<td class="td-status">시행중</td>
					<td class="td-mng"><a>설정수정</a> <a>삭제</a></td>
				</tr>
				<tr>
					<td class="td-ordernum">2</td>
					<td class="td-name">미분2</td>
					<td class="td-assessid">3422</td>
					<td class="td-period">5/10 07:00~5/15 22:00</td>
					<td class="td-completenum">20/23</td>
					<td class="td-itemtnum">15</td>
					<td class="td-status">완료</td>
					<td class="td-mng"><a>설정수정</a> <a>삭제</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


{% endblock %}