{% extends "container/base.html" %}
{% block title %}온라인 문항관리 시스템{% endblock %}

{% block navbar %}
{% endblock %}

{% block style %}
	{% include "tch/css/create_assesstemp_wiz2.css" %}
{% endblock %}
{% block script %}
<script>
	{% include "tch/script/create_assesstemp_wiz2.js" %}
</script>
{% endblock %}
{% block contents %}
<div class="kice_head">
	<img id="kice_head_arrow" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_arrow.jpg" />
	<div id="kice_head_name_ko">온라인 문항관리 시스템</div>
	<div id="kice_head_name_en">
		<span class="kice_head_name_en_orange">O</span>nline 
		<span class="kice_head_name_en_orange">I</span>tem
		<span class="kice_head_name_en_orange">M</span>anagement
		<span class="kice_head_name_en_orange">S</span>ystem
	</div>
	<div id="login_info">
		<b>{{ my_usergroupinfo.group.groupdetail.nickname }} {{ my_info.userdetail.full_name }} 선생님</b> 
		환영합니다. (로그인중)
	</div>
	<hr id="kice_head_line1" />
	<hr id="kice_head_line2" />
</div>

<div class="kice_head2">
	<div id="kice_head2_name_ko">평가시행</div>
	<hr id="kice_head2_line1" />
	<hr id="kice_head2_line2" />
</div>

<div id="wrap_inputs">
	<div id="assess_type_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		평가구분
	</div>
	<div id="assess_type_input">
		<input type="radio" name="assess_type" value="P" checked /> 학습용 형성평가
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="assess_type" value="D" /> 진단용 형성평가
	</div>
	<hr />
	<div id="assess_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		평가명
	</div>
	<div id="assess_name_input">
		<select>
			{% for at in ats %}
			<option at_id="{{at.id}}">{{at.name}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div id="assess_start_time_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		평가 시작시간
	</div>
	<div id="assess_start_time_input">
		<input type="text" class="input_date" value="{{ start.date }}" />
		<input type="text" class="input_time" value="{{ start.time }}" />
	</div>
	
	<div id="assess_end_time_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		평가 종료시간
	</div>
	<div id="assess_end_time_input">
		<input type="text" class="input_date" value="{{ end.date }}"/>
		<input type="text" class="input_time" value="{{ end.time }}" />
	</div>
	
	<div id="assess_set_std_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		대상학생 지정
	</div>
	
	<div id="assess_set_input">
		<input type="radio" name="sel_set_mode" checked="checked" value="A" /> 전체학생&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" name="sel_set_mode" value="C" /> 학급단위&nbsp;&nbsp;&nbsp;
		<select>
			{% for clas in classes %}
			<option grp_id="{{clas.id}}">
				{% if clas.groupdetail.upper_group.groupdetail.nickname == '고1' %}
				1학년
				{% elif clas.groupdetail.upper_group.groupdetail.nickname == '고2' %}
				2학년
				{% elif clas.groupdetail.upper_group.groupdetail.nickname == '고3' %}
				3학년
				{% else %}
				{{clas.groupdetail.upper_group.groupdetail.nickname}}
				{% endif %}
				{{clas.groupdetail.nickname}}
			</option>
			{% endfor %}
		</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" name="sel_set_mode" value="S" /> 개별학생&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	
	<div id="assess_sel_std_input">
		<div align="right">
			<button id="sel_all_std">전체선택</button>
			<button id="sel_cancel">전체해제</button>
			<button id="sel_complte">선택완료</button>
		</div>
		<hr />
		총 <span id="std_len">{{first_clas_stds_length}}</span>명 중
		<table id="sel_std_input_table" align="center">
			<tbody>
				<tr>
					<td> </td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
<button id="submit">저장하기{{ datetime_now }}</button>

{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="container">
  	<hr>
  	<b>개인정보처리방침 | 사용자 매뉴얼 다운로드 | 사이트맵</b>
  	<hr>
  	서울특별시 중구 정동길 21-15 정동빌딩 | TEL : 02-3704-3704 | FAX : 02-3704-3636<br /> 
  	Copyright © 2015 KICE. All Rights Reserved.

    <!--p class="text-muted">Place sticky footer content here.</p-->
  </div>
</footer>
{% endblock %}