{% extends "tch/container/base.html" %}
{% block title %}온라인 문항관리 시스템{% endblock %}
{% block navbar %}
{% endblock %}
{% block style %}
	{% include "tch/css/create_assesstemp_wiz1.css" %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://s3-ap-northeast-1.amazonaws.com/mippum-statics/mathjax/2.4/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
//	jax: ["input/TeX", "output/HTML-CSS"],
	jax: ["input/TeX", "output/SVG"],
	tex2jax: {
		inlineMath: [['$','$']],
		displayMath: [ ['$$','$$']],
		processEscapes: true,
		processEnvironments: true,
		preview: "TeX"
	},
    "HTML-CSS": { availableFonts: ["STIX", "TeX"],
		webFont: null },
    "SVG": { 
		availableFonts: ["TeX"],
		blacker: 0,
		scale: 90
	},
	showMathMenu: false
});
</script>
<script>
	{% include "tch/script/create_assesstemp_wiz1.js" %}
</script>
{% endblock %}
{% block containor %}

<div class="kice_head">
	<img id="kice_head_arrow" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_arrow.jpg" />
	<div id="kice_head_name_ko">온라인 문항관리 시스템</div>
	<div id="kice_head_name_en">
		<span class="kice_head_name_en_orange">O</span>nline 
		<span class="kice_head_name_en_orange">I</span>tem
		<span class="kice_head_name_en_orange">M</span>anagement
		<span class="kice_head_name_en_orange">S</span>ystem
	</div>
	<div id="login_info">
		<b>{{ my_usergroupinfo.group.groupdetail.nickname }} {{ my_info.userdetail.full_name }} 선생님</b> 
		환영합니다. (로그인중)
	</div>
	<hr id="kice_head_line1" />
	<hr id="kice_head_line2" />
</div>

<div class="kice_head2">
	<div id="kice_head2_name_ko">평가제작</div>
	<hr id="kice_head2_line1" />
	<hr id="kice_head2_line2" />
</div>

<div id="wrap_inputs">
	<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
	평가구분&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="radio" name="assess_type" value="P" checked /> 학습용 형성평가
	&nbsp;&nbsp;&nbsp;
	<input type="radio" name="assess_type" value="D" /> 진단용 형성평가
	<hr />
	
	<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
	학 교 급&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select id="academy_select">
		{% for itc1 in itc1_s %}
		<option itc_id="{{itc1.id}}">{{ itc1.name }}</option>
		{% endfor %}
	</select>
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
	과 목 명&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select id="course_select">
		{% for itc2 in itc2_s %}
		<option itc_id="{{itc2.id}}">{{ itc2.name }}</option>
		{% endfor %}
	</select><br />
	
	<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
	단&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select id="unit_select">
		{% for itc3 in itc3_s %}
		<option itc_id="{{itc3.id}}">{{ itc3.name }}</option>
		{% endfor %}
	</select>
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
	성취기준&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select id="standard_select">
		{% for itc4 in itc4_s %}
		<option itc_id="{{itc4.id}}">{{ itc4.name }}</option>
		{% endfor %}
	</select>
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button id="search_btn">
		문항검색
	</button>
	
	<hr />
	
	<div>
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		문항 검색 결과
		<div id="search_result_div">
			<table id="search_additional_condition">
				<tr>
					<td>검색 조건</td>
					<td><b>난이도</b>&nbsp;&nbsp;&nbsp;</td>
					<td class="checked_diff"><input type="checkbox" />어려움</td>
					<td class="checked_diff"><input type="checkbox" />보통</td>
					<td class="checked_diff"><input type="checkbox" />쉬움</td>
					<!--td class="checked_diff"><input type="checkbox" />결정안됨</td-->
					<td>
						
					</td>
				</tr>
				<tr>
					<td> </td>
					<td><b>유형</b></td>
					<td class="checked_type"><input type="checkbox" />선다형</td>
					<td class="checked_type"><input type="checkbox" />서술형</td>
					<td> </td>
					<td> </td>
					<td>
						<button id="research_btn">
							재검색
						</button>
					</td>
				</tr>
			</table>
			<hr /> <br />
			<table class="table" id="searched_item_list_table">
				<thead>
					<tr class="tr-header">
						<th><input type="checkbox" /></th>
						<th class="td-itemid">문항 ID</th>
						<th class="td-diff">난이도</th>
						<th class="td-ability">행동영역</th>
						<th class="td-type">유형</th>
						<th class="td-mng">문항미리보기</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			
			<div align="right">
				<button id="select_searched_items_btn">
					선택된 문항 담기
				</button>
				<button id="show_assess_preview_btn">
				검사지 미리보기
			</button>
			</div>
		</div>
	</div>
	<div id='items_in_cart' hidden>
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		담긴 문항
		<table class="table" id="selected_item_list_table">
			<thead>
				<tr class="tr-header">
					<th class="td-itemid">문항 ID</th>
					<th class="td-diff">난이도</th>
					<th class="td-ability">행동영역</th>
					<th class="td-type">유형</th>
					<th class="td-mng">문항미리보기</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<br />
	<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
	평 가 명&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="text" id="assess_name" />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button id="save_btn">
		저장하기
	</button>
</div>
{% endblock %}