{% extends "tch/container/base.html" %}
{% block title %}온라인 문항관리 시스템{% endblock %}
{% block navbar %}
{% endblock %}
{% block style %}
	{% include "tch/css/main.css" %}
{% endblock %}
{% block script %}
{% endblock %}
{% block containor %}
<div class="kice_head">
	<img id="kice_head_arrow" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_arrow.jpg" />
	<div id="kice_head_name_ko">온라인 문항관리 시스템</div>
	<div id="kice_head_name_en">
		<span class="kice_head_name_en_orange">O</span>nline 
		<span class="kice_head_name_en_orange">I</span>tem
		<span class="kice_head_name_en_orange">M</span>anagement
		<span class="kice_head_name_en_orange">S</span>ystem
	</div>
	<div id="login_info">
		<b>{{ my_usergroupinfo.group.groupdetail.nickname }} {{ my_info.userdetail.full_name }} 선생님</b> 
		환영합니다. (로그인중)
	</div>
	<hr id="kice_head_line1" />
	<hr id="kice_head_line2" />
</div>

<div class="kice_head2">
	<div id="kice_head2_name_ko">교사용 메뉴</div>
	<hr id="kice_head2_line1" />
	<hr id="kice_head2_line2" />
</div>

<div id="wrap_lists">
	<span class="category_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		학교 계정 관리
	</span>
	<a href="/tch/modify_auth"><button>들어가기</button></a><br />
	<br />
	<!--table>
		<tr>
			<td class="cell_1">
		  		학교명 : {{ my_usergroupinfo.group.groupdetail.nickname }} (관리자 : <b>{{ super_tch.userdetail.full_name }}</b> 선생님)<br />
		    	등록된 선생님 계정 : {{ tch_len }} 명 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    	등록된 학급 : {{class_len}} 개&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    	등록된 학생 : {{std_len}} 명
			</td>
		</tr>
	</table-->
	
	<span class="category_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		형성평가제작
	</span> 
	<a href="/tch/create_assesstemp_wiz1"><button>들어가기</button></a><br />
	<br />
	<!--table>
		<tr>
			<td class="cell_2">
		  		<b>진단용 형성평가</b><br />
			  	제작완료 : {{ len_D }}개 &nbsp;&nbsp;&nbsp;&nbsp;
			  	임시저장 : 0개
			</td>
			<td class="cell_2">
		  		<b>학습용 형성평가</b><br />
			  	제작완료 : {{ len_P }}개 &nbsp;&nbsp;&nbsp;&nbsp;
			  	임시저장 : 0개
			</td>
		</tr>
	</table-->
	
	<span class="category_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		평가시행
	</span> 
	<a href="/tch/create_assesstemp_wiz2"><button>들어가기</button></a><br />
	<br />
	<!--table>
		<tr>
			<td class="cell_2">
		  		<b>진단용 형성평가</b><br />
			  	시행완료 : 0개 &nbsp;&nbsp;&nbsp;&nbsp;
			  	시행중 : {{ ing_len_D }}개 &nbsp;&nbsp;&nbsp;&nbsp;
			  	시행예정 : {{ ready_len_D }} 개
			</td>
			<td class="cell_2">
		  		<b>학습용 형성평가</b><br />
			  	시행완료 : 0개 &nbsp;&nbsp;&nbsp;&nbsp;
			  	시행중 : {{ ing_len_P }}개 &nbsp;&nbsp;&nbsp;&nbsp;
			  	시행예정 : {{ ready_len_P }} 개
			</td>
		</tr>
	</table-->
	
	<span class="category_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		평가관리
	</span> 
	<a href="/tch/kice_assess_result"><button>들어가기</button></a><br />
	<!--table>
		<tr>
			<td class="cell_1"> </td>
		</tr>
	</table-->
</div>
{% endblock %}