{% extends "tch/container/base.html" %}
{% block title %}Demo 홈페이지{% endblock %}
{% block nav_brand %}선생님 메인 페이지{% endblock %}
{% block nav_list %}
<li> <a href="/tch" class="nav">홈으로</a></li>
<li> <a href="/tch/modify_pinfo">정보수정</a> </li>
<li> <a href="/tch/logout">로그아웃</a> </li>
{% endblock %}
{% block style %}
<style>
	button{
		width : 30%;
		height : 40px;
		margin : 10px;
	}
</style>
{% endblock %}
{% block script %}
{% endblock %}
{% block containor %}
<div class="container text-center">
	<div class="row">
		<!--button class="btn btn-primary">과제물 템플릿 관리</button-->
	</div>
	<div class="row">
		<!--button class="btn btn-primary">과제 상태 보기</button-->
	</div>
	<div class="row">
		<!--button class="btn btn-primary">문항 템플릿 관리</button-->
	</div>
	<div class="row">
		<a href="/tch/modify_auth"><button class="btn btn-primary">학교 계정 관리</button></a>
	</div>
	
</div>
{% endblock %}