{% extends "tch/container/base.html" %}
{% block title %}학교 계정 관리{% endblock %}
{% block nav_brand %}학교 계정 관리{% endblock %}
{% block style %}
<style>
table * {
	text-align:center;
}

</style>
{% endblock %}
{% block script %}

<script>
	$(document).on("click", "#add_new_tch", function(){
		$("#add_tch_modal").modal('show');
	});
	$(document).on("click", "#add_new_tch_btn", function(){
		var data = {};
		data['method'] = 'add_new_tch';
		data['email'] = $("#new_mng_email").val();
		data['firstname'] = $("#new_mng_firstname").val();
		data['lastname'] = $("#new_mng_lastname").val();
		data['comnum'] = $("#new_mng_comnum").val();

		$.ajax({
			url : "/tch/modify_auth/",
			dataType : "json",
			data : data
		}).done(function(msg) {
			//console.log(msg);
			if(msg['status'] == 'success'){
				location.reload();
			}
		});
	});
	
	$(document).on('click', "#add_new_class", function(){
		$("#add_class_modal").modal('show');
	});
	$(document).on('click', "#add_class_btn", function(){
		if($("#new_class_name").val() == ''){
			return false;
		}
		var data = {};
		data['method'] = 'add_new_class';
		data['grade'] = $("#new_grade_name").val();
		data['class'] = $("#new_class_name").val();
		//console.log()
		$.ajax({
			url : "/tch/modify_auth/",
			dataType : "json",
			data : data
		}).done(function(msg) {
			//console.log(msg);
			if(msg['status'] == 'success'){
				location.reload();
			}
		});
	});
	
	var changepw_email;
	$(document).on("click", ".send_newpw_tch", function(){
		var title_email_ex = "#send_newpw_modal .modal-title .email_section";
		changepw_email = $(this.parentNode.parentNode).find(".email_td").text();
		$(title_email_ex).text(changepw_email);
		$("#send_newpw_modal").modal("show");
		return false;
	});
	
	$(document).on("click", "#send_newpw_btn", function(){
		//console.log("enter");
		var input_code = $(this.parentNode.parentNode).find('.input_code').val();
		if(input_code == '{{ input_code }}'){
			//console.log("send");
			var data = {};
			data['method'] = 'send_newpw';
			data['email'] = changepw_email;
			$.ajax({
				url : "/tch/modify_auths/",
				dataType : "json",
				data : data
			}).done(function(msg) {
				//console.log(msg);
				location.reload();
			});
		}
	});
	
	var del_email;
	$(document).on("click", ".del_tch", function(){
		
		return false;
	});
</script>

{% endblock %}
{% block containor %}

<div class="container">
	<div class="row">
		<span class="table-name h3">선생님 계정관리</span>&nbsp;&nbsp;
		<button class="btn btn-primary btn-xs" id="add_new_tch">추가</button>
		
		<table class="table">
			<thead>
				<tr class="tr-header">
					<th>성명</th>
					<th class="email_td">이메일</th>
					<th>사번</th>
					<th>관리</th>
				</tr>
			</thead>
			<tbody>
				{% for tch in tchs %}
				<tr>
					<td>{{ tch.userdetail.full_name }}</td>
					<td class="email_td">{{ tch.email }}</td>
					<td>{{ tch.comnum }}</td>
					<td>
						{% if not tch.is_groupsuperuser %}
						<a href="#" class="send_newpw_tch">임시비밀번호재생성</a> 
						<a href="#" class="del_tch">삭제</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<span class="table-name h3">학년반 관리</span>&nbsp;&nbsp;<button class="btn btn-primary btn-xs" id="add_new_class">추가</button>
		<table class="table">
			<thead>
				<tr class="tr-header">
					<th>학년</th>
					<th>반</th>
					<th>학생수</th>
					<th>관리</th>
				</tr>
			</thead>
			<tbody>
				{% for clas in classes %}
				<tr>
					<td>{{ clas.groupdetail.upper_group.groupdetail.nickname }}</td>
					<td>{{ clas.groupdetail.nickname }} </td>
					<td>{{ clas.members_length }} </td>
					<td><a>정보수정</a> <a>삭제</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	
	<div class="row">
		<span class="table-name h3">학생 계정관리</span>&nbsp;&nbsp;<button class="btn btn-primary btn-xs">선택삭제</button>
		<table class="table">
			<thead>
				<tr class="tr-header">
					<th><input type="checkbox" /></th>
					<th>성명</th>
					<th>이메일</th>
					<th>학년</th>
					<th>반</th>
					<th>학번</th>
					<th>관리</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr>
					<td><input type="checkbox" /></td>
					<td>{{ student.userdetail.full_name }}</td>
					<td>{{ student.email }}</td>
					<td>{{ student.gradename }}</td>
					<td>{{ student.classname }}</td>
					<td>{{ student.stdnum }}</td>
					<td><a>임시비밀번호재생성</a> <a>삭제</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="add_tch_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">선생님 계정 추가</h4>
      </div>
      <div class="modal-body">
      	<table>
      		<tr>
      			<td>
      				 이메일(아이디) : &nbsp;
      			</td>
      			<td>
      				<input type="text" id="new_mng_email"/>
      			</td>
      		</tr>
      		<tr>
      			<td>
      				 이름 : &nbsp;
      			</td>
      			<td>
      				<input type="text" id="new_mng_firstname"/>
      			</td>
      		</tr>
      		<tr>
      			<td>
      				 성 : &nbsp;
      			</td>
      			<td>
      				<input type="text" id="new_mng_lastname" />
      			</td>
      		</tr>
      		<tr>
      			<td>
      				 사번 : &nbsp;
      			</td>
      			<td>
      				<input type="text" id="new_mng_comnum" />
      			</td>
      		</tr>
      	</table><br />
      	추가를 누르시면 해당 메일로 임시비밀번호가 전송됩니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="add_new_tch_btn">추가</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="add_class_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">추가할 학년을 선택하시고 반 이름을 입력하세요.</h4>
      </div>
      <div class="modal-body">
      	<table>
      		<tr>
      			<td>
      				 학년 : &nbsp;
      			</td>
      			<td class="text-left">
      				<select id="new_grade_name">
      					<option>고3</option>
      					<option>고2</option>
      					<option>고1</option>
      					<option>중3</option>
      					<option>중2</option>
      					<option>중1</option>
      					<option>초6</option>
      					<option>초5</option>
      					<option>초4</option>
      					<option>초3</option>
      					<option>초2</option>
      					<option>초1</option>
      				</select>
      			</td>
      		</tr>
      		<tr>
      			<td>
      				 반 이름 : &nbsp;
      			</td>
      			<td>
      				<input type="text" id="new_class_name"/>
      			</td>
      		</tr>
      	</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="add_class_btn">등록</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="check_del_tch_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="email_section"> </span> 계정을 삭제하시겠습니까?</h4>
      </div>
      <div class="modal-body">
      	삭제하시려면 아래 코드를 입력하시고 삭제 버튼을 눌러 주십시오.<br /> 
      	코드 : {{ input_code }}<br />
      	코드 입력 : <input type="text" class="input_code"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="del_tch_btn">삭제</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="send_newpw_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="email_section"> </span> 계정의 새 비밀번호를 전송하겠습니까?</h4>
      </div>
      <div class="modal-body">
      	해당 계정의 새 비밀 번호를 생성하여 해당 이메일로 전송하시려면 아래 코드를 입력하시고 전송 버튼을 눌러 주십시오.<br /> 
      	코드 : {{ input_code }}<br />
      	코드 입력 : <input type="text" class="input_code"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="send_newpw_btn">전송</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}