{% extends "container/base.html" %}
{% block title %}온라인 문항관리 시스템{% endblock %}

{% block navbar %}
{% endblock %}

{% block style %}
	{% include "home/css/index.css" %}
{% endblock %}
{% block script %}
{% endblock %}
{% block contents %}

<div class="kice_head">
	<img id="kice_head_arrow" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_arrow.jpg" />
	<div id="kice_head_name_ko">온라인 문항관리 시스템</div>
	<div id="kice_head_name_en">
		<span class="kice_head_name_en_orange">O</span>nline 
		<span class="kice_head_name_en_orange">I</span>tem
		<span class="kice_head_name_en_orange">M</span>anagement
		<span class="kice_head_name_en_orange">S</span>ystem
	</div>
	<hr id="kice_head_line1" />
	<hr id="kice_head_line2" />
</div>
	
	
<a href="/tch/logout">
	<div id="linkdiv_tch">
		<br />
		선생님으로<br />
		입장하기
		<hr />
	</div>
</a>

<a href="/stdnt/logout">
	<div id="linkdiv_std" class="col-md-5 col-sm-5 col-xs-5" >
		<br />
		학생으로<br />
		입장하기
		<hr />
	</div>
</a>

<div id="notice">
	<br />
	<b>공지사항</b><br /><br /><br />
	<div style="float:left;">▷ 시스템 점검 안내</div>
	<div style="float:right;">2015-09-23</div><br /><br />
	<div style="float:left;">▷ 시스템 점검 안내</div>
	<div style="float:right;">2015-09-23</div><br /><br />
	<div style="float:left;">▷ 시스템 점검 안내</div>
	<div style="float:right;">2015-09-23</div><br /><br />
</div>


<img id="kice_system_arrow" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_arrow_system_intro.jpg" />

<div class="row">
	<div id="manuel-downlaod-text">
		<span id="double-chevron-right">&raquo;</span><b>사용자 매뉴얼 다운로드</b>
	</div>
</div>

<a>
	<div id="manual_tch">
		<br />
		교사용<br />
		메뉴얼<br />
		<br />
	</div>
</a>
<a>
	<div id="manual_std">
		<br />
		학생용<br />
		메뉴얼<br />
		<br />
	</div>
</a>
{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="container">
  	<hr>
  	<b>개인정보처리방침 | 사용자 매뉴얼 다운로드 | 사이트맵</b>
  	<hr>
  	서울특별시 중구 정동길 21-15 정동빌딩 | TEL : 02-3704-3704 | FAX : 02-3704-3636<br /> 
  	Copyright © 2015 KICE. All Rights Reserved.

    <!--p class="text-muted">Place sticky footer content here.</p-->
  </div>
</footer>
{% endblock %}