{% extends "container/base.html" %}
{% block title %}온라인 문항관리 시스템{% endblock %}
{% block style %}
<style>
	.btn-primary{
		width : 30%;
		height : 40px;
		margin : 10px;
	}
</style>
{% endblock %}
{% block script %}
{% endblock %}
{% block contents %}
<div class="container text-center">
	<div class="row">
		<!--button class="btn btn-primary">형성 평가</button-->
	</div>
	<div class="row">
		<a href="/stdnt/login"><button class="btn btn-primary btn-lg">학생 페이지</button></a>
	</div>
	<div class="row">
		<a href="/tch/login"><button class="btn btn-primary btn-lg">선생님 페이지</button></a>
	</div>
	<div class="row">
		<a href="/mngins/login"><button class="btn btn-primary btn-lg">관리기관 페이지</button></a>
	</div>
</div>
{% endblock %}