{% extends "mngins/container/base.html" %}
{% block title %}문항 템플릿 카테고리 관리{% endblock %}
{% block style %}
	{% include "mngins/css/itemtemp_category.css" %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://s3-ap-northeast-1.amazonaws.com/mippum-statics/mathjax/2.4/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
//	jax: ["input/TeX", "output/HTML-CSS"],
	jax: ["input/TeX", "output/SVG"],
	tex2jax: {
		inlineMath: [['$','$']],
		displayMath: [ ['$$','$$']],
		processEscapes: true,
		processEnvironments: true,
		preview: "TeX"
	},
    "HTML-CSS": { availableFonts: ["STIX", "TeX"],
		webFont: null },
    "SVG": { 
		availableFonts: ["TeX"],
		blacker: 0,
		scale: 90
	},
	showMathMenu: false
});
</script>

<script>
	{% include "mngins/script/itemtemp_category.js" %}
</script>
{% endblock %}
{% block containor %}
<div class="container">
	<h3>문항 템플릿 카테고리 관리</h3><br />
	<table id="item_temp_category_table">
		<tbody>
			<tr id="category_label_row">
				<td level="0" colspan="2">
					<div class="category_type_edit">
						분류 :
						<select>
						</select>
						<div class="etc_category_edit" hidden>
							이름 : <input type="text" value="{{ itcll0_s.name }}" class="category_name" />
							<button class="btn btn-primary btn-xs" class="category_name_modify_btn">
								수정
							</button>
						</div>
					</div>
					<div class="mark_type">
					부호 : <select><option>없음</option></select><br />
					</div>
				</td>
			</tr>
			<tr id="category_list_row">
				<td level="0" class="select_td">
					<select size="5" style="width: 180px;">
						{% for itc0 in itc0_s %}
						<option itc_id="{{itc0.id}}">{{ itc0.name }}</option>
						{% endfor %}
					</select>
				</td>
				<td level="0" class="arrow_td">
					<button class="btn btn-default btn-xs arrow_btn arrow_up">
						<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
					</button><br /> 
					<button class="btn btn-default btn-xs arrow_btn arrow_down">
						<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					</button>  
				</td>
				<td id="add_category_td">
					<button class="btn btn-primary btn-sm">+</button>
				</td>
			</tr>
			<tr id="category_edit_row">
				<td level="0" colspan="2">
					<input type="text" style="width: 80px;"/>
					<button class="btn btn-default btn-xs edit_category_btn add_category">추가</button>
					<button class="btn btn-default btn-xs edit_category_btn modify_category">수정</button>
					<button class="btn btn-default btn-xs edit_category_btn del_category">삭제</button>
				</td>
			</tr>
		</tbody>
	</table>
	<br />
	<div class="row">
		선택된 카테고리 : <span id="sel_category_exp"> </span>
	</div>
	<div class="row" id="category_detail">
		카테고리 상세설명 <button class="btn btn-primary btn-xs">변경내용 저장</button> <br /><br />
		<textarea> </textarea>
	</div><br /><br />
	
	<!--div class="row">
		선택된 카테고리의 문항 템플릿 리스트
		<button class="btn btn-primary btn-xs">선택된 문항을 카테고리에서 삭제</button>
	</div-->
	<div class="row" id="selected_category_section">
		선택된 카테고리의 문항 템플릿 리스트
		<button class="btn btn-primary btn-xs">선택된 문항을 카테고리에서 삭제</button>
		<table class="table" id="selected_cate_item_list_table">
			<thead>
				<tr class="tr-header">
					<th><input type="checkbox" /></th>
					<th class="td-itemid">문항 ID</th>
					<th class="td-diff">난이도</th>
					<th class="td-ability">행동영역</th>
					<th class="td-type">유형</th>
					<th class="td-mng">관리</th>
				</tr>
			</thead>
			<tbody>
				<!--tr>
					<td><input type="checkbox" /></td>
					<td class="td-itemid">1900</td>
					<td class="td-diff">쉬움</td>
					<td class="td-ability">지식</td>
					<td class="td-type">선다형</td>
					<td class="td-mng">
						<a href="#" class="show_item_value">내용보기</a> 
						<a href="#" class="del_category_one">카테고리에서 삭제</a>
					</td>
				</tr-->
			</tbody>
		</table>
	</div>
	
	<div class="row" id="it_no_category_section">
		카테고리 미지정된 문항 템플릿 리스트
		<button class="btn btn-primary btn-xs">선택된 문항을 해당 카테고리에 추가</button><br />
		<table class="table">
			<thead>
				<tr class="tr-header">
					<th class="td-checkbox"><input type="checkbox" /></th>
					<th class="td-itemid">문항 ID</th>
					<th class="td-diff">난이도</th>
					<th class="td-ability">행동영역</th>
					<th class="td-type">유형</th>
					<th class="td-choices_in_a_row" hidden>행간 보기 문항 수</th>
					<th class="td-mng">관리</th>
				</tr>
			</thead>
			<tbody>
				{% for no_cate_it in no_cate_its %}
				<tr class="iteminfo_tr">
					<td class="td-checkbox"><input type="checkbox" /></td>
					<td class="td-itemid">{{ no_cate_it.cafa_it_id }}</td>
					<td class="td-diff">
						{% if no_cate_it.difficulty == 0 %}
						쉬움
						{% elif no_cate_it.difficulty == 1 %}
						보통
						{% elif no_cate_it.difficulty == 2 %}
						어려움
						{% else %}
						결정안됨
						{% endif %}
					</td>
					<td class="td-ability">
						{% if no_cate_it.ability == 1 %}
						지식
						{% elif no_cate_it.ability == 2 %}
						이해
						{% elif no_cate_it.ability == 3 %}
						적용
						{% elif no_cate_it.ability == 4 %}
						분석
						{% else %}
						결정안됨
						{% endif %}
					</td>
					<td class="td-type">선다형</td>
					<td class="td-choices_in_a_row" hidden>{{ no_cate_it.choices_in_a_row }}</td>
					<td class="td-mng">
						<a href="#" class="show_item_value">내용보기</a> 
						<a href="#" class="add_category_one">카테고리에 추가</a>
					</td>
				</tr>
				{% endfor %}
				<!--tr>
					<td><input type="checkbox" /></td>
					<td class="td-itemid">11020394</td>
					<td class="td-mng"><a>내용보기</a> <a>추가</a></td>
				</tr-->
			</tbody>
		</table>
	</div>
</div>


{% endblock %}