{% extends "mngins/container/base.html" %}
{% block title %}문항 템플릿 업데이트{% endblock %}
{% block style %}
<style>
	 
</style>
{% endblock %}
{% block script %}
<script>
	var test_dat;
	var process_item_num = 0;
	//process_item_num = 1082;
	var len_item = 0;
	var xml_dat;
	$(document).ready(function(){
		
	});
	//set_from_itemID(19259201)
	//itemIDs = [19259201, 19259301, 19259401, 19229001, 19259001, 19229201, 19259101, 19258701, 19258801, 19258901,19259501, 19229301, 19229401, 19229501, 19259801, 19229402, 19259601, 19259701, 19260001, 19259901]
	//for(var i in itemIDs) { set_from_itemID(itemIDs[i]);  while(wait_flag);}
	var wait_flag = false;
	function set_from_itemID(itemID){
		wait_flag = false;
		var url = 'http://cafalab.com/asp/GetItemInfo.asp?Item=' + itemID;
		$.get(url, function (data) {
			//console.log(data);
			//test_dat = data;
			var iteminfo_dat = {
				'itemID':itemID,
				'choices_in_a_row' : $(data).find('ChoicesPerLine').text(),
				'difficulty' : $(data).find('Difficulty').text(),
				'answer_type' : $(data).find('AnswerType').text(),
				'points' : $(data).find('Points').text(),
				'year' : $(data).find('Year').text(),
				'description' : $(data).find('Description').text(),
				'ability' : $(data).find('Ability').text(),
				'exposure' : $(data).find('Exposure').text(),
				'correct' : $(data).find('Correct').text(),
				'complexity' : $(data).find('Complexity').text(),
				'institue' : $(data).find('Institute').text(),
				'height' : $(data).find('Height').text(),
			};
			$.ajax({
				url:'/mngins/itemtemp_update',
				dataType:'json',
				data:{
					'method':'set_one_item',
					'iteminfo':JSON.stringify(iteminfo_dat)
					//'choices_in_a_row':choices_in_a_row,
				}
			}).done(function(msg){
				//console.log(msg);
				if(msg['status'] == 'success'){
					console.log('success');
					wait_flag = true;
				} else {
					console.log(msg);
					wait_flag = true;
				}
			});
		}).fail(function(msg) {
			console.log('error');
		    console.log(msg);
		    var iteminfo_dat = {
		    	'itemID':itemID,
				'choices_in_a_row' : '1',
				'difficulty' : '0',
				'answer_type' : "Can't be SPR",
				'points' : '1',
				'year' : '2015',
				'description' : '',
				'ability' : '0',
				'exposure' : '0',
				'correct' : '0',
				'complexity' : '0',
				'institue' : '0',
				'height' : '100',
			};
		    $.ajax({
				url:'/mngins/itemtemp_update',
				dataType:'json',
				data:{
					'method':'set_one_item',
					'iteminfo':JSON.stringify(iteminfo_dat)
				}
			}).done(function(msg){
				//console.log(msg);
				if(msg['status'] == 'success'){
					console.log('success');
					wait_flag = true;
				} else {
					console.log(msg);
					wait_flag = true;
				}
			});
		});
	}
	function set_one_item(){
		var itemID = $($(xml_dat).find('Item')[process_item_num]).find('ItemID').text();
		var url = 'http://cafalab.com/asp/GetItemInfo.asp?Item=' + itemID;
		
		$.get(url, function (data) {
			//console.log(data);
			//test_dat = data;
			var iteminfo_dat = {
				'itemID':itemID,
				'choices_in_a_row' : $(data).find('ChoicesPerLine').text(),
				'difficulty' : $(data).find('Difficulty').text(),
				'answer_type' : $(data).find('AnswerType').text(),
				'points' : $(data).find('Points').text(),
				'year' : $(data).find('Year').text(),
				'description' : $(data).find('Description').text(),
				'ability' : $(data).find('Ability').text(),
				'exposure' : $(data).find('Exposure').text(),
				'correct' : $(data).find('Correct').text(),
				'complexity' : $(data).find('Complexity').text(),
				'institue' : $(data).find('Institute').text(),
				'height' : $(data).find('Height').text(),
			};
			$.ajax({
				url:'/mngins/itemtemp_update',
				dataType:'json',
				data:{
					'method':'set_one_item',
					'iteminfo':JSON.stringify(iteminfo_dat)
					//'choices_in_a_row':choices_in_a_row,
				}
			}).done(function(msg){
				//console.log(msg);
				if(msg['status'] == 'success' && process_item_num < len_item){
					process_item_num += 1;
					$('#status').text(process_item_num + '/' + len_item);
					if(process_item_num < len_item){
						set_one_item();
					}
				}
			});
		}).fail(function(msg) {
			console.log('error');
		    console.log(msg);
		    var iteminfo_dat = {
		    	'itemID':itemID,
				'choices_in_a_row' : '1',
				'difficulty' : '0',
				'answer_type' : "Can't be SPR",
				'points' : '1',
				'year' : '2015',
				'description' : '',
				'ability' : '0',
				'exposure' : '0',
				'correct' : '0',
				'complexity' : '0',
				'institue' : '0',
				'height' : '100',
			};
		    $.ajax({
				url:'/mngins/itemtemp_update',
				dataType:'json',
				data:{
					'method':'set_one_item',
					'iteminfo':JSON.stringify(iteminfo_dat)
				}
			}).done(function(msg){
				//console.log(msg);
				if(msg['status'] == 'success' && process_item_num < len_item){
					process_item_num += 1;
					$('#status').text(process_item_num + '/' + len_item);
					if(process_item_num < len_item){
						set_one_item();
					}
				}
			});
		});
	}
	$(document).on('click', '#start_btn', function(){
		$(this).hide();
		$('#status').text(process_item_num + '/' + len_item);
		var url = 'http://cafalab.com/asp/GetItemList.asp';
		$.get(url, function (data) {
			//console.log(data);
			//test_dat = data;
			xml_dat = data;
			//test_dat = $(data).find('Item').text();
			len_item = $(data).find('Item').length;
			
			$('#status').text(process_item_num + '/' + len_item);
			set_one_item();
		});
		
	});
</script>
{% endblock %}
{% block containor %}
<div class="container">
	<h3>문항 템플릿 업데이트</h3><br />
	<div class="row">
		<button class="btn btn-primary" id="start_btn">시작</button>
		<div id="status"> </div>
	</div>
</div>


{% endblock %}