{% extends "mngins/container/base.html" %}
{% block title %}Demo 홈페이지{% endblock %}
{% block nav_brand %}관리기관 메인 페이지{% endblock %}
{% block nav_list %}
<li> <a href="{% url 'mngins:main' %}" class="nav">홈으로</a></li>
<li> <a>정보수정</a> </li>
<li> <a href="{% url 'mngins:logout' %}" class="nav">로그아웃</a> </li>
{% endblock %}
{% block style %}
<style>
	button{
		width : 30%;
		height : 40px;
		margin : 10px;
	}
</style>
{% endblock %}
{% block script %}
<script>
	
</script>
{% endblock %}
{% block containor %}
<div class="container text-center">
	<div class="row">
		<button class="btn btn-primary">과제물 템플릿 관리</button>
	</div>
	<div class="row">
		<button class="btn btn-primary">과제 상태 보기</button>
	</div>
	<div class="row">
		<button class="btn btn-primary">계정 관리</button>
	</div>
	<div class="row">
		<button class="btn btn-primary">문항 템플릿 관리</button>
	</div>
	
</div>
{% endblock %}