{% extends "stdnt/container/base.html" %}
{% block title %}{{ stdnt_string.LOGIN_PAGE }}{% endblock %}
{% block navbar %}
{% endblock %}
{% block style %}
	{% include "stdnt/css/login.css" %}
{% endblock %}
{% block script %}
<script>
	{% include "stdnt/script/login.js" %}
</script>
{% endblock %}
{% block containor %}

<div class="kice_head">
	<img id="kice_head_arrow" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_arrow.jpg" />
	<div id="kice_head_name_ko">온라인 문항관리 시스템</div>
	<div id="kice_head_name_en">
		<span class="kice_head_name_en_orange">O</span>nline 
		<span class="kice_head_name_en_orange">I</span>tem
		<span class="kice_head_name_en_orange">M</span>anagement
		<span class="kice_head_name_en_orange">S</span>ystem
	</div>
	<hr id="kice_head_line1" />
	<hr id="kice_head_line2" />
</div>
<div id="wrap_inputs">
	<div id="wrap_title">
		학생으로 입장하기
	</div>
	<div id="login-input">
		{% csrf_token %}
		<table align="center">
			<tr>
				<td>이메일주소(e-mail) &nbsp;</td>
				<td><input type="text" name="email" id="email" tabindex=1></td>
				<td rowspan="2" id="submit_td">
					<button id="submit">로그인</button>
					<!--a href="#" id="submit" tabindex=3>
						<div><p>로그인</p></div>			
					</a-->
				</td>
			</tr>
			<tr>
				<td>비밀번호(password) &nbsp;</td>
				<td><input type="password" name="pw" id="pw" tabindex=2></td>
			</tr>
		</table>
	</div>
	
	<div id="find_btn">
		<button>
			이메일주소 찾기
		</button>
		<button>
			비밀번호 찾기
		</button>
		<a href="/stdnt/register">
			<button>
				회원가입
			</button>
		</a>
	</div>
</div>
<!--div class="container text-center">
	<div class="row h3">
	{{ stdnt_string.LOGIN_PAGE }}
	</div><br />
	<div class="row">
		<form>
		{% csrf_token %}
		<table align="center">
			<tr>
				<td>Email : &nbsp; &nbsp; &nbsp; &nbsp;</td>
				<td><input type="text" name="email" id="email"></td>
			</tr>
			<tr>
				<td>Password : </td>
				<td><input type="password" name="pw" id="pw"></td>
			</tr>
		</table>
		</form><br />
		<a href="/stdnt/register"><button class="btn btn-default" id="register_btn">{{ stdnt_string.REGISTER }}</button></a>
		<button class="btn btn-primary" id="submit">{{ stdnt_string.LOGIN }}</button>
	</div>
</div-->

<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error!</h4>
      </div>
      <div class="modal-body">
        msg
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <!--button type="button" class="btn btn-primary">확인</button-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
