{% extends "stdnt/container/base.html" %}
{% block title %}온라인 문항관리 시스템{% endblock %}
{% block navbar %}
{% endblock %}
{% block style %}
	{% include "stdnt/css/main.css" %}
{% endblock %}
{% block script %}
<script>
	{% include "stdnt/script/main.js" %}
</script>
{% endblock %}
{% block containor %}

<div class="kice_head">
	<img id="kice_head_arrow" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_arrow.jpg" />
	<div id="kice_head_name_ko">온라인 문항관리 시스템</div>
	<div id="kice_head_name_en">
		<span class="kice_head_name_en_orange">O</span>nline 
		<span class="kice_head_name_en_orange">I</span>tem
		<span class="kice_head_name_en_orange">M</span>anagement
		<span class="kice_head_name_en_orange">S</span>ystem
	</div>
	<div id="login_info">
		<b>{{ my_usergroupinfo_school.group.groupdetail.nickname }} {{ my_info.userdetail.full_name }} 학생</b> 
		환영합니다. (로그인중)
	</div>
	<hr id="kice_head_line1" />
	<hr id="kice_head_line2" />
</div>

<div class="kice_head2">
	<div id="kice_head2_name_ko">학생용 메뉴</div>
	<hr id="kice_head2_line1" />
	<hr id="kice_head2_line2" />
</div>

<div id="my_assess_list_name">
	<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
	나의 평가 목록
</div>

<div id="wrap_lists">
	<br />
	<span id="jindan_assess_name">
		진단용 형성평가
	</span>
	<span id="jindan_assess_status">
		■ 완료한 평가 수 : {{D_finished_len}}개 &nbsp;&nbsp;&nbsp;&nbsp;
		□ 아직 완료하지 못한 평가 수 : {{D_not_finished_len}}개
	</span>
	<div id="unit_assess_table_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		단원별 평가 목록
	</div>
	<table id="unit_assess_table" align="center">
		<thead>
			<tr>
				<th class="td-contents">단원</th>
				<th class="td-itemnum">문항수</th>
				<th class="td-exe">시행</th>
				<th class="td-result">결과</th>
				<th class="td-solve">진단</th>
			</tr>
		</thead>
		<tbody>
			{% for exam in DU_examlist %}
			<tr at_id="{{ exam.id }}">
				<td class="td-contents">{{ exam.name }}</td>
				<td class="td-itemnum">{{ exam.num_item }}</td>
				<td class="td-exe">
					{% if exam.is_finished %}
					<button class="complte_btn">
						시행완료
					</button>
					{% else %}
					<button class="exam_m">
						온라인
					</button><br />
					<button class="exam_p">
						오프라인
					</button>
					{% endif %}
				</td>
				<td class="td-result">
					{% if not exam.is_finished %}
						진단안됨
					{% else %}
						{% ifequal exam.level "N" %}진단불가{% endifequal %}
						{% ifequal exam.level "F" %}미달{% endifequal %}
						{% ifequal exam.level "E" %}하{% endifequal %}
						{% ifequal exam.level "I" %}중{% endifequal %}
						{% ifequal exam.level "H" %}상{% endifequal %}
					{% endif %}
					
				</td>
				<td class="td-solve">
					{% if not exam.is_finished %}
					먼저 풀이를 하세요.
					{% else %}
					<button class="result_btn">
						진단결과
					</button>
					<button class="ans_sol_btn">
						정답해설
					</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<div id="standart_assess_table_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		성취기준 평가 목록
	</div>
	
	<table id="standart_assess_table" align="center">
		<thead>
			<tr>
				<th class="td-standard">성취기준</th>
				<th class="td-contents">내용</th>
				<th class="td-itemnum">문항수</th>
				<th class="td-exe">시행</th>
				<th class="td-result">결과</th>
				<th class="td-solve">진단</th>
			</tr>
		</thead>
		<tbody>
			{% for exam in DS_examlist %}
			<tr at_id="{{ exam.id }}">
				<td class="td-standard">{{ exam.name }}</td>
				<td class="td-contents">{{ exam.itc.description }}</td>
				<td class="td-itemnum">{{ exam.num_item }}</td>
				<td class="td-exe">
					{% if exam.is_finished %}
					<button class="complte_btn">
						시행완료
					</button>
					{% else %}
					<button class="exam_m">
						온라인
					</button><br />
					<button class="exam_p">
						오프라인
					</button>
					{% endif %}
				</td>
				<td class="td-result">
					{% if not exam.is_finished %}
						진단안됨
					{% else %}
						{% ifequal exam.level "N" %}진단불가{% endifequal %}
						{% ifequal exam.level "F" %}미달{% endifequal %}
						{% ifequal exam.level "E" %}하{% endifequal %}
						{% ifequal exam.level "I" %}중{% endifequal %}
						{% ifequal exam.level "H" %}상{% endifequal %}
					{% endif %}
					
				</td>
				<td class="td-solve">
					{% if not exam.is_finished %}
					먼저 풀이를 하세요.
					{% else %}
					<button class="result_btn">
						진단결과
					</button>
					<button class="ans_sol_btn">
						정답해설
					</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<br />
	<span id="practice_assess_name">
		학습용 형성평가
	</span>
	<span id="practice_assess_status">
		■ 완료한 평가 수 : {{P_finished_len}}개 &nbsp;&nbsp;&nbsp;&nbsp;
		□ 아직 완료하지 못한 평가 수 : {{P_not_finished_len}}개
	</span>
	
	<div id="practice_unit_assess_table_name">
		<img class="kice_sign1" src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/kice_sign1.jpg" />
		단원별 평가 목록
	</div>
	<table id="practice_unit_assess_table" align="center">
		<thead>
			<tr>
				<th class="td-contents">단원</th>
				<th class="td-itemnum">문항수</th>
				<th class="td-exe">시행</th>
				<th class="td-result">결과</th>
				<th class="td-solve">진단</th>
			</tr>
		</thead>
		<tbody>
			{% for exam in P_examlist %}
			<tr at_id="{{ exam.id }}">
				<td class="td-contents">{{ exam.name }}</td>
				<td class="td-itemnum">{{ exam.num_item }}</td>
				<td class="td-exe">
					{% if exam.is_finished %}
					<button class="complte_btn">
						시행완료
					</button>
					{% else %}
					<button class="exam_m">
						온라인
					</button><br />
					<button class="exam_p">
						오프라인
					</button>
					{% endif %}
				</td>
				<td class="td-result">
					{% if not exam.is_finished %}
						진단안됨
					{% else %}
						{% ifequal exam.level "N" %}진단불가{% endifequal %}
						{% ifequal exam.level "F" %}미달{% endifequal %}
						{% ifequal exam.level "E" %}하{% endifequal %}
						{% ifequal exam.level "I" %}중{% endifequal %}
						{% ifequal exam.level "H" %}상{% endifequal %}
					{% endif %}
					
				</td>
				<td class="td-solve">
					{% if not exam.is_finished %}
					먼저 풀이를 하세요.
					{% else %}
					<button class="result_btn">
						진단결과
					</button>
					<button class="ans_sol_btn">
						정답해설
					</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br />
</div>
<!--div class="container text-center">
	<div class="row h3 text-center">
	학생 메인 페이지
	</div>
	<div class="row">
		<button class="btn btn-primary">형성 평가</button>
	</div>
	<div class="row">
		<a href="/stdnt/exam_list"><button class="btn btn-primary btn-lg">진단 평가</button></a>
	</div>
</div-->
{% endblock %}