{% extends "stdnt/container/base.html" %}
{% block title %}학생 정보 수정 페이지{% endblock %}
{% block nav_brand %}학생 정보 수정 페이지{% endblock %}
{% block style %}
<style>
input, select {
	margin-bottom:10px;
}

</style>
{% endblock %}
{% block script %}
<script>
	var test_dat;
	
	var school_id = '{{ school_id }}';
	$(document).on('change', '#school_selector', function(){
		//console.log(this);
		school_id = $(this).find('option:selected').val();
		if(school_id == "None"){
			$('#grade_selector').html('<option value="None">-----</option>');
			$('#clas_selector').html('<option value="None">-----</option>');
			return false;
		}
		var data = {};
		data['method'] = 'sel_school';
		data['id'] = school_id;
		$.ajax({
			url : '/stdnt/register',
			dataType:"json",
			data : data
		}).done(function(msg){
			//console.log(msg);
			//test_dat = msg;
			if(msg['status'] == 'success'){
				var option_html = '<option value="None">-----</option>';
				for(index in msg['grades']){
					option_html += '<option value="'+msg['grades'][index][0]+'">'+msg['grades'][index][1]+'</option>';
				}
				$('#grade_selector').html(option_html);
			}
		});
	});
	
	$(document).on('change', '#grade_selector', function(){
		//console.log(this);
		var grade_id = $(this).find('option:selected').val();
		if(grade_id == "None"){
			$('#clas_selector').html('<option value="None">-----</option>');
			return false;
		}
		var data = {};
		data['method'] = 'sel_grade';
		data['id'] = grade_id;
		$.ajax({
			url : '/stdnt/register',
			dataType:"json",
			data : data
		}).done(function(msg){
			//console.log(msg);
			//test_dat = msg;
			if(msg['status'] == 'success'){
				var option_html = '<option value="None">-----</option>';
				for(index in msg['classes']){
					option_html += '<option value="'+msg['classes'][index][0]+'">'+msg['classes'][index][1]+'</option>';
				}
				$('#clas_selector').html(option_html);
			}
		});
	});
	
	var clas_id = '{{ clas_id }}';
	$(document).on('change', '#clas_selector', function(){
		//console.log(this);
		clas_id = $(this).find('option:selected').val();
	});
	
	$(document).on('click','#submit', function(){
		if ($("#check_pw").val() != ''){
			if($("#check_pw").val() != $("#check_pw").val()){
				return false;
			}
		}
		$.post("/stdnt/modify_pinfo/", {
			csrfmiddlewaretoken:$.cookie('csrftoken'),
			origin_pw : $("#origin_pw").val(),
			new_pw:$("#new_pw").val(),
			first_name:$("#firstname").val(),
			last_name:$("#lastname").val(),
			school_id:school_id,
			clas_id:clas_id,
			std_num:$("#std_num").val()
		}).done(function(data){
			//console.log(data);
			if(data['status'] === "success"){
				$(location).attr('href', '/stdnt/login');
			}
		});
	});
</script>
{% endblock %}
{% block containor %}
<div class="container">
	<div class="row">
		{% csrf_token %}
		<table align="center">
			<tr>
				<td>
					{{ home_string.EMAIL }}({{ home_string.ID }}) :  &nbsp; &nbsp; 
				</td>
				<td>
					{{ my_info.email }}
				</td>
			</tr>
			<tr>
				<td>
				  기존 비밀번호(필수) : 
				</td>
				<td>
				  <input type="password" id="origin_pw" />
				</td>
			</tr>
			<tr>
				<td>
				  새 비밀번호(필요시) : 
				</td>
				<td>
				  <input type="password" id="new_pw"/>
				</td>
			</tr>
			<tr>
				<td>
				  새 비밀번호 확인 : 
				</td>
				<td>
				  <input type="password" id="check_pw"/>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.FIRST_NAME }} : 
				</td>
				<td>
					<input type="text" id="firstname" value="{{ my_info.first_name }}"/>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.LAST_NAME }} : 
				</td>
				<td>
					<input type="text" id="lastname" value="{{ my_info.last_name }}"/>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.SCHOOL }} : 
				</td>
				<td>
					<select id="school_selector">
						<option value="None">-----</option>
						{% for school in schools %}
							{% if school.id == school_id %}
							<option value="{{ school.name }}" selected>
							{% else %}
							<option value="{{ school.name }}">
							{% endif %}
								{{ school.groupdetail.nickname }}({{ school.name }})
							</option>
						{% endfor %}
						
					</select>
				</td>
			</tr>
			<tr>
				<td>
					학년 : 
				</td>
				<td>
					<select id="grade_selector">
						<option value="None">-----</option>
						{% for grade in grades %}
							{% if grade.id == grade_id %}
							<option value="{{ grade.name }}" selected>
							{% else %}
							<option value="{{ grade.name }}">
							{% endif %}
								{{ grade.groupdetail.nickname }}
							</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.CLASS }} : 
				</td>
				<td>
					<select id="clas_selector">
						<option value="None">-----</option>
						{% for clas in classes %}
							{% if clas.id == clas_id %}
							<option value="{{ clas.name }}" selected>
							{% else %}
							<option value="{{ clas.name }}">
							{% endif %}
								{{ clas.groupdetail.nickname }}
							</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.STDNT_ID_NUM }} : 
				</td>
				<td>
					<input type="text" id="std_num" value="{{ std_num }}"/>
				</td>
			</tr>
		</table>
	</div> <br />
	<div class="row text-center">
		<button class="btn btn-primary" id="submit">수정</button>
		<button class="btn btn-default">{{ home_string.CANCEL }}</button>
	</div>
</div>

{% endblock %}