<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		{% load staticfiles %}
		<!--jquery setting -->
		<script src='{% static "jquery/1.11.2/jquery-1.11.2.min.js" %}'></script>
		
		<script src='{% static "cookie/1.4.1/jquery.cookie.js" %}'></script>
		
		
		<!-- boostrap setting -->
        <link rel="stylesheet" href='{% static "bootstrap/3.1.1/css/bootstrap.min.css" %}'>
        <link href="data:text/css;charset=utf-8," data-href='{% static "main_home/bootstrap/3.1.1/css/bootstrap-theme.min.css" %}' rel="stylesheet" id="bs-theme-stylesheet">  
        <script src='{% static "bootstrap/3.1.1/js/bootstrap.min.js" %}'></script>
        
        
		<title>프린트물</title>
		<style>
			.workbook_probs {
				border-width: 1;
				border-collapse: collapse;
				/*font-size: medium;*/
			}
			.response_qr_code{
				padding:10px;
			}
			@media print {
			  a[href]:after {
			    content: none !important;
			  }
			}
		</style>
		<!--link href="include/emtstyle.css" rel="stylesheet" type="text/css" /-->

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			//	jax: ["input/TeX", "output/HTML-CSS"],
			jax: ["input/TeX", "output/SVG"],
			tex2jax: {
			inlineMath: [['$','$']],
			displayMath: [ ['$$','$$']],
			processEscapes: true,
			processEnvironments: true,
			preview: "TeX"
			},
			"HTML-CSS": { availableFonts: ["STIX", "TeX"],
			webFont: null },
			"SVG": {
			availableFonts: ["TeX"],
			blacker: 0,
			scale: 90
			},
			showMathMenu: false
			});
		</script>

		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>
		
		<script>
			{% include "stdnt/script/print_assess.js" %}
		</script>
	</head>
	<body>
	</body>
</html>
