{% extends "stdnt/container/base.html" %}
{% block title %}{{ home_string.SITE_NAME }}{% endblock %}
{% block nav_brand %}{{ stdnt_string.REGISTER_PAGE }}{% endblock %}
{% block nav_list %}
{% endblock %}
{% block style %}
<style>
input, select {
	margin-bottom:10px;
}

</style>
{% endblock %}
{% block script %}
<script>
	var test_dat;
	$(document).on('change', '#school_selector', function(){
		//console.log(this);
		var school_id = $(this).find('option:selected').val();
		if(school_id == "None"){
			$('#grade_selector').html('<option value="None">-----</option>');
			$('#clas_selector').html('<option value="None">-----</option>');
			return false;
		}
		var data = {};
		data['method'] = 'sel_school';
		data['id'] = school_id;
		$.ajax({
			url : '/stdnt/register',
			dataType:"json",
			data : data
		}).done(function(msg){
			//console.log(msg);
			//test_dat = msg;
			if(msg['status'] == 'success'){
				var option_html = '<option value="None">-----</option>';
				for(index in msg['grades']){
					option_html += '<option value="'+msg['grades'][index][0]+'">'+msg['grades'][index][1]+'</option>';
				}
				$('#grade_selector').html(option_html);
			}
		});
	});
	
	$(document).on('change', '#grade_selector', function(){
		//console.log(this);
		var grade_id = $(this).find('option:selected').val();
		if(grade_id == "None"){
			$('#clas_selector').html('<option value="None">-----</option>');
			return false;
		}
		var data = {};
		data['method'] = 'sel_grade';
		data['id'] = grade_id;
		$.ajax({
			url : '/stdnt/register',
			dataType:"json",
			data : data
		}).done(function(msg){
			//console.log(msg);
			//test_dat = msg;
			if(msg['status'] == 'success'){
				var option_html = '<option value="None">-----</option>';
				for(index in msg['classes']){
					option_html += '<option value="'+msg['classes'][index][0]+'">'+msg['classes'][index][1]+'</option>';
				}
				$('#clas_selector').html(option_html);
			}
		});
	});
	
	var clas_id;
	$(document).on('change', '#clas_selector', function(){
		//console.log(this);
		clas_id = $(this).find('option:selected').val();
	});
	
	$(document).on('click','#submit', function(){
		if($("#email").val() == ''){
			return false;
		} else if($('#clas_selector').val() == "None"){
			return false;
		}
		$.post("/stdnt/register/", {
			csrfmiddlewaretoken:$.cookie('csrftoken'), 
			email:$("#email").val(),
			firstname:$("#firstname").val(),
			lastname:$("#lastname").val(),
			clas_id:clas_id,
			std_num:$("#std_num").val(),
		}).done(function(data){
			//console.log(data);
			//test_dat = data;
			if(data['status'] === "success"){
				
				$(location).attr('href','/stdnt/login');
			//} else {
			//	$("#modal .modal-body").html(data['msg']);
			//	$("#modal").modal('show');
			}
		});
	});
</script>
{% endblock %}
{% block containor %}
<div class="container">
	<div class="row">
		{% csrf_token %}
		<table align="center">
			<tr>
				<td>
					{{ home_string.EMAIL }}({{ home_string.ID }}) :  &nbsp; &nbsp; 
				</td>
				<td>
					<input type="text" id="email"/>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.FIRST_NAME }} : 
				</td>
				<td>
					<input type="text" id="firstname"/>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.LAST_NAME }} : 
				</td>
				<td>
					<input type="text" id="lastname"/>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.SCHOOL }} : 
				</td>
				<td>
					<select id="school_selector">
						<option value="None">-----</option>
						{% for school in schools %}
							<option value="{{ school.name }}">{{ school.groupdetail.nickname }}({{ school.name }})</option>
						{% endfor %}
						
					</select>
				</td>
			</tr>
			<tr>
				<td>
					학년 : 
				</td>
				<td>
					<select id="grade_selector">
						<option value="None">-----</option>
						
					</select>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.CLASS }} : 
				</td>
				<td>
					<select id="clas_selector">
						<option value="None">-----</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					{{ home_string.STDNT_ID_NUM }} : 
				</td>
				<td>
					<input type="text" id="std_num"/>
				</td>
			</tr>
		</table>
	</div> <br />
	<div class="row text-center">
		<button class="btn btn-primary" id="submit">{{ home_string.REG_SEND_MAIL }}</button>
		<button class="btn btn-default">{{ home_string.CANCEL }}</button>
	</div>
</div>

{% endblock %}