{% extends "stdnt/container/base.html" %}
{% block title %}온라인 풀기{% endblock %}
{% block nav_list %}
<li> <a href="/stdnt" class="nav">홈으로</a></li>
<li> <a href="/stdnt/logout">로그아웃</a> </li>
{% endblock %}

{% block style %}
<style>
	#main_container {
		max-width:400px;
	}
	#cop-choice{
		width:100%;
    }
    #cop-choice>label{
		width : 100%;
		text-align:left;
    }
    legend {
	  	font-size:14px;
	}
	#cop-count {
		color:#B0B0B0;
	}
</style>
{% endblock %}
{% block script %}
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	//	jax: ["input/TeX", "output/HTML-CSS"],
	jax: ["input/TeX", "output/SVG"],
	tex2jax: {
	inlineMath: [['$','$']],
	displayMath: [ ['$$','$$']],
	processEscapes: true,
	processEnvironments: true,
	preview: "TeX"
	},
	"HTML-CSS": { availableFonts: ["STIX", "TeX"],
	webFont: null },
	"SVG": {
	availableFonts: ["TeX"],
	blacker: 0,
	scale: 90
	},
	showMathMenu: false
	});
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>
<script>
	{% include "stdnt/script/solve_itemeach.js" %}
</script>
{% endblock %}
{% block containor %}
<div class="container" id="main_container">
	<div id="cop-count" class="text-center">1/?</div>
	<div id="cop-question">
		loading...
	</div><br />
	<!--div id="choice-area" class="text-center"-->
	<div id="choice-area" class="row text-center">
		<div id="cop-choice" class="btn-group-vertical" data-toggle="buttons">
			<label class='btn btn-default text-left'>
				<input type='radio' name='options' autocomplete='off' value='A' />① <span id="choice-1"> </span></label>
			<label class='btn btn-default text-left'>
				<input type='radio' name='options' autocomplete='off' value='B' />② <span id="choice-2"> </span></label>
			<label class='btn btn-default text-left'>
				<input type='radio' name='options' autocomplete='off' value='C' />③ <span id="choice-3"> </span></label>
			<label class='btn btn-default text-left'>
				<input type='radio' name='options' autocomplete='off' value='D' />④ <span id="choice-4"> </span></label>
			<label class='btn btn-default text-left'>
				<input type='radio' name='options' autocomplete='off' value='E' />⑤ <span id="choice-5"> </span></label>
		</div>
	</div>
	<br />
	
	<div class="row text-center">
		<button class="btn btn-primary" id="pre_item" disabled>이전문제</button>
		<button class="btn btn-default" id="submit_responses" disabled>답 제출</button>
		<button class="btn btn-primary" id="next_item" disabled>다음문제</button>
	</div><br />
</div>
{% endblock %}

{% block footer %}
{% endblock %}
