<style>
	body{
		font-family:'Malgun Gothic', 'Guilm', 'Arial';
	}
	
	#kice_head_arrow{
		position: absolute;
		left:250px;
		top:84px;
		height:48px;
		width:60px;
	}
	.kice_head_name_en_orange{
		color:orange;
	}
	
	#kice_head_name_ko{
		position: absolute;
		left:317px;
		top:79px;
		width:300px;
		
		font-size:30.3px;
		line-height:36px;
	}
	
	#kice_head_name_en{
		position: absolute;
		left:317px;
		top:112px;
		width:300px;
		
		font-size:17.7px;
		line-height:21px;
	}
	#login_info{
		position: absolute;
		left:729px;
		top:110px;
		width:300px;
		
		font-size:12.6px;
		line-height:15px;
	}
	#kice_head_line1{
		position: absolute;
		left:252px;
		top:138px;
		width:346px;
		
		height: 5px;
	    border: 0;
		background:rgb(169, 209, 142);
	}
	#kice_head_line2{
		position: absolute;
		left:596px;
		top:138px;
		width:440px;
		
		height: 5px;
	    border: 0;
		background:rgb(244, 177, 131);
	}
	
	#wrap_inputs{
		position: absolute;
		left:350px;
		top:219px;
		height:258px;
		width:583px;
		
		border:1px solid rgb(218,227,243);
		
		line-height:30px;
	}
	
	#wrap_title {
		background:rgb(43,127,161);
		margin:0px;
		color:white;
		height:50px;
		line-height:50px;
		padding-left:10px;
	}
	
	#login-input {
		margin-top:50px;
	}
	#login-input table td {
		height:25px;
		line-height:25px;
		padding:3px;
	}
	
	#login-input table td input{
		height:25px;
	}
	
	#submit {
		height:55px;
		width:70px;
		
		background:rgb(217,217,217);
		border:1px solid rgb(180,180,180);
	}
	
	#find_btn {
		margin-top:20px;
		margin-left:270px;
	}
	
	#find_btn button {
		height:20px;
		line-height:20px;
		font-size:13px;
		
		padding:1px;
		padding-left:10px;
		padding-right:10px;
		
		background:rgb(217,217,217);
		border:1px solid rgb(180,180,180);
	}
	footer {
	    /*position: absolute;*/
	    /*bottom: 0;*/
	    position: absolute;
	 	top:769px;
	    left:249px;
	 	width:785px;
	 }
/*
	.panel-primary {
		border-color: #4682b4;
	}
	.panel-heading{
		text-align:left;
	}
	.panel-body{
		text-align:center;
	}
	#login-input{
		
	}
	#submit_td{
		width:60px;
	}
	#submit{
		height:100%;
	}
	#submit>div{
		background-color:#4682b4;
		border: 2px solid #e6e6fa;
		text-align:center;
		color:white;
		display: inline-table;
		width: 100%;
		line-height: 50px;
	}
	#submit>div>p{
		vertical-align:middle;
		margin:0px;
	}*/
</style>